In [8]:
import pandas as pd

sales_clients = pd.DataFrame([
    ['North', 'C001', 120, 'Electronics'],
    ['North', 'C002', 200, 'Furniture'],
    ['North', 'C001', 150, 'Electronics'],
    ['North', 'C003', 300, 'Clothing'],
    ['South', 'C004', 250, 'Electronics'],
    ['South', 'C005', 100, 'Furniture'],
    ['South', 'C004', 150, 'Electronics'],
    ['South', 'C004', 160, 'Electronics'],
    ['South', 'C006', 200, 'Clothing'],
    ['East', 'C007', 400, 'Electronics'],
    ['East', 'C008', 300, 'Clothing'],
    ['East', 'C009', 150, 'Furniture'],
    ['East', 'C007', 200, 'Electronics'],
    ['West', 'C010', 100, 'Clothing'],
    ['West', 'C011', 150, 'Electronics'],
    ['West', 'C012', 200, 'Furniture'],
    ['West', 'C010', 50, 'Clothing'],
    ['West', 'C011', 100, 'Electronics'],
    ['West', 'C013', 250, 'Furniture'],
    ['West', 'C014', 300, 'Clothing'],
    ['West', 'C015', 180, 'Electronics'],
], columns=['region', 'client_id', 'order_sum', 'product_category'])

print(sales_clients)

   region client_id  order_sum product_category
0   North      C001        120      Electronics
1   North      C002        200        Furniture
2   North      C001        150      Electronics
3   North      C003        300         Clothing
4   South      C004        250      Electronics
5   South      C005        100        Furniture
6   South      C004        150      Electronics
7   South      C004        160      Electronics
8   South      C006        200         Clothing
9    East      C007        400      Electronics
10   East      C008        300         Clothing
11   East      C009        150        Furniture
12   East      C007        200      Electronics
13   West      C010        100         Clothing
14   West      C011        150      Electronics
15   West      C012        200        Furniture
16   West      C010         50         Clothing
17   West      C011        100      Electronics
18   West      C013        250        Furniture
19   West      C014        300         Clothing
20   West      C015        180      Electronics

In [49]:
# По каждому региону:
# количество заказов,
# сумма заказов,
# количество уникальных клиентов.

t1 = sales_clients.groupby('region').agg(
    total_orders=('order_sum', 'count'),
    total_sum=('order_sum', 'sum'),
    unique_clients=('client_id', 'nunique'),
)

t1

        total_orders  total_sum  unique_clients
region
East               4       1050               3
North              4        770               3
South              5        860               3
West               8       1330               6

In [57]:
# Вывести регионы, где в среднем на клиента приходится больше всего заказов.

t1['avg_orders_per_client'] = round(t1['total_orders'] / t1['unique_clients'],2)
t1.sort_values(by='avg_orders_per_client', inplace=True, ascending=False)
t1

        total_orders  total_sum  unique_clients  avg_orders_per_client
region
South              5        860               3                   1.67
East               4       1050               3                   1.33
North              4        770               3                   1.33
West               8       1330               6                   1.33