In [20]:
from pandas_code.pivot.data import get_car_sales_df

In [22]:
df2 = get_car_sales_df()
df2

                0    1      2     3
0          Moscow  jan  Haval  1300
1          Moscow  feb  Haval  1200
2          Moscow  mar  Haval  1100
3          Moscow  jan  Chery   800
4          Moscow  feb  Chery   700
5          Moscow  mar  Chery   600
6          Moscow  jan  Geely   250
7          Moscow  feb  Geely   240
8   St. Peterburg  jan  Haval   900
9   St. Peterburg  feb  Haval   870
10  St. Peterburg  mar  Haval   850
11  St. Peterburg  jan  Chery   650
12  St. Peterburg  feb  Chery   640
13  St. Peterburg  mar  Chery   705
14  St. Peterburg  jan  Geely   210
15  St. Peterburg  feb  Geely   200

In [4]:
%reset -f